@media screen and (min-width: 38rem) {

    #menuButton {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
    }

    nav a {
        border-top: none;
        padding: 0.7rem 1.5rem;
    }

    .about-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    .photo img {
        width: 80%;
        max-width: 250px;
    }

    .course-buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .course-container {
        grid-template-columns: repeat(3, 1fr);
    }

}